<?php

namespace FileBank;

return array(
    __NAMESPACE__ => array(
        'params' => array(
            'filebank_folder'  => '/path/to/your/upload/directory',
            'default_is_active' => true,
            'chmod'           => 0755,
        ),
    ),
);