<?php
namespace Application\Entity;

use Doctrine\ORM\Mapping as ORM;

use Zend\Form\Annotation;
use Noodle\Entity\Base;

/**
 * A movie
 *
 * @Annotation\Hydrator("Zend\Stdlib\Hydrator\ObjectProperty")
 * @Annotation\Name("Test")
 * @ORM\Entity(repositoryClass="\Noodle\Repository\Base")
 * @ORM\Table(name="noodle_news")
 * @property integer $id
 * @property string $name
 */
class News extends Base
{

	/**
	* @ORM\Column(type="string");
	* @Annotation\Type("Zend\Form\Element\Text")
	* @Annotation\Options({"label":"Header", "listed":true})
	* @Annotation\Required(true)
	*/
	public $title;

	/**
	* @ORM\Column(type="string");
	* @Annotation\Type("Zend\Form\Element\Text")
	* @Annotation\Options({"label":"Label", "listed":true})
	* @Annotation\Required(true)
	*/
	public $label;

	/**
	* @ORM\Column(type="string");
	* @Annotation\Type("Zend\Form\Element\Select")
	* @Annotation\Options({"label":"Place", "listed":true})
	* @Annotation\Attributes({"options":{"1":"Option 1","2":"Option 2","3":"Option 3","4":"Option 4"}})
	*/
	public $place;

	/**
	* @ORM\Column(type="string");
	* @Annotation\Type("Zend\Form\Element\Textarea")
	* @Annotation\Options({"label":"Text"})
	* @Annotation\Required(true)
	*/
	public $text;

	/**
	* @ORM\Column(type="integer");
	* @Annotation\Type("Noodle\Form\Element\Picture")
	* @Annotation\Options({"label":"Picture"})
	* @Annotation\Required(false)
	*/
	public $picture;

	/**
	* Magic getter to expose protected properties.
	*
	* @param DateTime $property
	* @return mixed
	*/
	public function __get($property)
	{
		return $this->$property;
	}

	/**
	* Magic setter to save protected properties.
	*
	* @param string $property
	* @param mixed $value
	*/
	public function __set($property, $value)
	{
		$this->$property = $value;
	}

}
